* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --ff-hero: 'DM Sans', sans-serif;


  --fc-hero-h1-numbers-h3: hsl(210, 11%, 15%);
  --fc-hero-h4-numbers-p: hsl(var(--hue), 100%, 26%);
  --fc-hero-p: hsl(210, 9%, 31%);
  --fc-button: hsl(0, 0%, 100%);

  --hue: 8;
  --bg-brand-light: hsl(calc(var(--hue) - 22), 23%, 89%);
  --bg-brand-button: hsl(var(--hue), 100%, 26%);
  --bg-brand-nav: hsl(var(--hue), 45%, 60%);
  --bg-brand: hsl(39, 100%, 97%);
  --bg-brand-light-2: hsl(cal(var(--hue) + 10), 14%, 97%);
  --bg-white: hsl(0, 0%, 100%);
  --bg-brand-btnHover: hsl(var(--hue), 100%, 14%);
  --bg-brand-btnHover2: hslhsl(173, 74%, 36%);
  

  --nav-height: 8.2rem;
}

html {
  /* chrome://flags/#smoth-scrolling */
  scroll-behavior: smooth;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: var(--ff-hero);
  font-size: 1.6rem;

  text-align: center;

  overflow: overlay;

  background-color: var(--bg-brand-light-2);

  
}

.wrapper {
  width: min(50rem, 100%);
  margin-inline: auto;
  padding-inline: 2.4rem;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  border-radius: 2rem;
}

.logo img {
  width: 10rem;
}

section {
  padding-block: 10rem;
}

section header h4 {
  text-transform: uppercase;
  font-size: 1.4rem;
  line-height: 2.1rem;
  font-weight: 700;
  letter-spacing: 0.08rem;
  color: var(--fc-hero-h4-numbers-p);
}

section header h2 {
  font-weight: 700;
  font-size: 3rem;
  line-height: 3.9rem;
  color: var(--fc-hero-p);
}

section header h1 {
  font-size: 3.4rem;
  color: var(--fc-hero-h1-numbers-h3);
  font-weight: 700;
  line-height: 4.4rem;
}

section header h3 {
  font-size: 2.5rem;
  color: var(--fc-hero-p);
  font-weight: 600;
  line-height: 2.2rem;
}

section .content p {
  font-weight: 400;
  font-size: 1.8rem;
  color: var(--fc-hero-p);
  line-height: 2.7rem;
}

section .content .button {
  font-size: 1.4rem;
  color: var(--fc-button);
  text-decoration: none;

  background: var(--bg-brand-button);

  border: none;
  border-radius: 4rem;

  padding: 1.6rem 3.2rem;
  width: fit-content;

  font-weight: 700;
  text-transform: uppercase;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
}

section .content .button:hover {
  background: var(--bg-brand-btnHover);
}

/* Custom colors*/
#services .card circle {
  fill: var(--bg-brand-light);
}

#backToTopButton circle,
#navigation .logo path[fill*='#00856F'] {
  fill: var(--bg-brand-button);
}

button.openMenu path[stroke*='#00856F'],
#contact li path {
  stroke: var(--bg-brand-button);
}

body.menuExpanded #navigation .logo path,
#navigation.scroll .logo path {
  fill: white;
}

#navigation.scroll button.openMenu path[stroke*='#00856F'] {
  stroke: white;
}

/*========= NAVIGATION =====================================================*/

nav {
  display: flex;
  padding-top: 1rem;
    
  height: var(--nav-height);

  position: fixed;
  top: 0;
  width: 100vw;

  z-index: 100;

}

nav .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav.scroll {
  background-color: var(--bg-brand-nav);
}

nav button {
  background: none;
  border: none;
  cursor: pointer;
}

nav .menu,
nav .closeMenu {
  position: fixed;
}

/*========= MENU EXPANDED ==============================================*/

body.menuExpanded {
  overflow: hidden;
}

/* usando o > + * selecionamos todos os elementos de primeira classe dentro do
body, se usarmos o :not(), podemos indicar a excecao*/
body.menuExpanded> :not(nav) {
  visibility: hidden;
}

.menu,
.closeMenu,
body.menuExpanded .openMenu {
  opacity: 0;
  visibility: hidden;
}

body.menuExpanded .menu,
body.menuExpanded .closeMenu {
  opacity: 1;
  visibility: visible;
}

.menu {
  transform: translateY(50%);
}

body.menuExpanded .menu {
  top: 0;
  left: 0;
  background: var(--bg-brand-nav);

  width: 100vw;
  height: 100vh;
  padding-top: var(--nav-height);

  transition: transform 350ms;

  transform: translateY(0);
}

.menu ul:nth-child(1) {
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
  margin-top: 6rem;

  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.1rem;
}

.menu ul li a {
  text-decoration: none;
  color: var(--bg-brand);
}

.socialLinks {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 3.2rem;
}

.menu .button {
  display: inline-block;
  padding: 1.6rem 3.2rem;
  margin-top: 4.8rem;
  margin-bottom: 8rem;

  background: #ffffff;
  border-radius: 4rem;

  font-size: 1.8rem;
  line-height: 2.3rem;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;

  color: var(--fc-hero-h4-numbers-p);
}

.menu .button:hover {
  background-color: var(--bg-brand-button);
  color: var(--fc-button);
  filter: brightness(1.1);
}

body.menuExpanded .logo,
body.menuExpanded button {
  position: relative;
  z-index: 100;
}

body.menuExpanded .logo path {
  fill: white;
}

body.menuExpanded button path {
  stroke: white;
}

/*========= HOME ===========================================================*/

#home {
  padding-block: 0;
  padding-top: calc(4.1rem + var(--nav-height));
}

#home::before {
  content: '';
  width: 100%;
  height: calc(76% + var(--nav-height));
  background-color: var(--bg-brand-light);
  display: block;
  
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

#home h4 {
  margin-bottom: 1.6rem;
 
}

#home h1 {
  margin-bottom: 2.4rem;
}

#home p {
  margin-bottom: 3.2rem;
}

#home .button {
  margin-inline: auto;
  margin-bottom: 5rem;  
}


#home .photo img {  
  width: auto;
  margin-top: 5.5rem;  
     /* object-position: 0 2rem; */
  border-radius: 2rem;
}

.vapour {
  /* position: relative; */
  display: flex;
  z-index: 1;
  padding-left: 4rem;
  justify-content: left;
}

.vapour span {
  position: relative;
  bottom: 5rem;
  display: block;
  
  min-width: 0.8rem;
  height: 4rem;
  background: #fff;
  border-radius: 50%;
  animation: animate 5s linear infinite;
  opacity: 0;
  filter: blur(0.9rem);
  animation-delay: calc(var(--v) * -0.5s);
}

@keyframes animate {
  0% {
      transform: translateY(0) scaleX(1);
      opacity: 0;
  }
  15% {
      opacity: 1;
  }
  50% {
      transform: translateY(-15rem) scaleX(5);
  }
  95% {
      opacity: 0;
  }
  100% {
      transform: translateY(-30rem) scaleX(10);
  }
}

#home .numbers {
  width: 100%;

  padding-block: 4rem;
  margin-inline: auto;
  margin-top: 6rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 6rem;

  background-color: var(--bg-brand);
  border: 1px solid #dce9e2;
  border-radius: 6px;
}

#home .number h3 {
  font-size: 4.8rem;
  color: var(--fc-hero-h1-numbers-h3);
  font-weight: 700;
  line-height: 6.2rem;
  margin-bottom: 0.4rem;
}

#home .number p {
  margin: 0;
  font-size: 1.6rem;
  color: var(--fc-hero-h4-numbers-p);
  line-height: 2.4rem;
}

/*========= SECTION SERVICES =================================================*/

/* #services {
  width: 32.7rem;
  padding-block: 4rem;
  margin-top: 10rem;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  
} */

#services header h4 {
  margin-bottom: 1.6rem;
}

#services header h2 {
  margin-bottom: 6rem;
  width: auto;
}

#services header h3 {
  margin-bottom: 2rem;
  font-size: 2.5rem;
  line-height: 3rem;
}

#services .principal p {
  margin-bottom: 2rem;
}

#services .principal img {
  margin-bottom: 3.6rem;
}

#services .cards {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  margin-inline: auto;
}

#services .card {
  padding: 2.4rem;
  text-align: left;
  /*substitui esse display por margin-block no h3 
  display: flex;
  flex-direction: column;
  gap: 1.6rem; */

  border: 1px solid #dce9e2;
  border-radius: 0.6rem;
}

#services .card svg {
  width: 2.4rem;
  height: 2.4rem;
  margin-left: 0rem;
  margin-top: 0rem;
}

#services .card h3 {
  color: var(--fc-hero-h1-numbers-h3);
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.1rem;
  margin-block: 1.6rem;
}

#services .card p {
  color: var(--fc-hero-p);
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
}

/*========= ABOUT ========================================================*/

#about {
  background-color: var(--bg-brand);
  text-align: left;
}

#about header h4 {
  margin-bottom: 1.6rem;
}

#about .content p {
  margin-top: 2.4rem;
  margin-bottom: 6rem;
}

#about .content img {}

 /*========= TESTIMONIALS =======================================*/
  
 .carousel {
   display: flex;
   margin: auto;
   width: auto;
   height: auto;   
 }

 #testmonials .content p {
  margin-top: 2.4rem;
  margin-bottom: 3rem;
}

 #testimonials h2 {
   margin-bottom: 6rem;
   margin-top: 1.6rem;
 }


 #testimonials blockquote {    
  box-shadow:0px 0px 12px rgba(0,0,0,0.08);
  border-radius:.4rem;
  margin-inline: 2rem;
  text-align: left;
  padding: 2rem;
  
  background-color: var(--bg-brand-light);
}

#testimonials blockquote p{
  color: var(--fc-hero-p);
  margin-block:1.5rem;
  margin-bottom: 1.5rem;

  position: relative;
  text-indent: 2.875rem;
 }

 #testimonials blockquote p span {
   font-weight: 700;
   font-family: serif;
   font-size: 5rem;
   color: var(--bg-brand-button);

   position: absolute;
   top: -1rem;
   left: -2.875rem;
 }

 #testimonials cite{
  display:flex;
  align-items:center;
  font-style:normal;

  color: var(--bg-brand-button);
  font-weight: 700;
}

 #testimonials cite img{
  width:4.2rem;
  height:4.2rem;
  object-fit:cover;
  margin-right:1.0rem;
  border-radius:3rem;
 }




/*========= INOVATIONS ==================================================*/

#innovation {
  background-color: var(--bg-brand);
  text-align: center;
}

#innovation header h4 {
  margin-bottom: 1.6rem;
}

#innovation .content p {
  margin-top: 2.4rem;
  margin-bottom: 10rem;
}

#innovation .col-b ,
#innovation .col-c ,
#innovation .col-d  {
  position: relative;
}

#innovation .col-b p,
#innovation .col-c p,
#innovation .col-d p {
  position: absolute;
  bottom: 5.2rem;
  left: 2.8rem;
  border-radius: 2rem;
  background-color: var(--bg-brand);
  font-size: 3rem;
  font-weight: 400;
  color: var(--bg-brand-button);
  padding: 0 1.6rem;

  width: fit-content;
  height: 3.8rem;

  display: inline-flex;
  align-items: center;
  
}

#innovation img {  
  height: 30rem;
  object-fit: cover;
  border-radius: 2rem;
}

#innovation .col-e h2 {
  margin-top: 3rem;
  margin-bottom: 2rem;
  font-size: 3rem;
  text-align: center;
  color: var(--bg-brand-button);
  animation: blink 1.5s infinite;
}

#innovation .col-e span {
  font-weight: 700;
  color: var(--bg-brand-button)
}

@keyframes blink {
  0% {color:var(--bg-brand-button);}
  50% {color:white;}
  100% {color: var(--bg-brand-button)}
}


/*========= S ========================================================*/

#events {
  background-color: var(--bg-white);
  text-align: left;
}

#events header h4 {
  margin-bottom: 1.6rem;
}

#events .content p {
  margin-top: 2.4rem;
  margin-bottom: 6rem;
}

#events .content img {}

/*========= CONTACT ========================================================*/

#contact {
  background-color: var(--bg-brand);
  text-align: left;
}

#contact header h2 {
  margin-bottom: 3.2rem;
}

#contact .content ul {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  margin-bottom: 3.2rem;
}

#contact .content ul li {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

#contact .content .button {
  margin-bottom: 6rem;
}

.map-responsive{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}

.map-responsive iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}

/*========= FOOTER ========================================================*/

footer {
  padding-block: 6rem;
  background-color: var(--bg-brand-nav);
  text-align: left;
}

footer img {
  width: 25%;
}

/* #footer .wrapper header path {
  fill: white;
} */

footer .content {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  margin-top: 2.4rem;
  margin-bottom: 3.2rem;
}

footer .wrapper p {
  color: var(--bg-brand);
  font-size: 1.6rem;
  line-height: 2.1rem;
}

footer .socialLinks {
  justify-content: flex-start;
}

/*========= BACK TO TOP =================================================*/

#backToTopButton {
  position: fixed;
  bottom: 1rem;
  right: 2.5rem;

  opacity: 0;
  visibility: hidden;

  transform: translateY(100%);
  transition: 300ms;
}

#backToTopButton.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

/*========= RESPONSIVO ========================================================*/

@media (min-width: 1024px) {

  /*========= GERAL =======================================*/
  body {
    overflow: auto;
  }

  .wrapper {
    width: min(112rem, 100%);
    display: grid;
  }

  .col-a {
    grid-area: A;
  }

  .col-b {
    grid-area: B;
  }

  section {
    padding-block: 16rem;
  }

  section header h2 {
    font-size: 4rem;
    line-height: 5.2rem;
  }

  /*========= NAVIGATION =======================================*/

  /* reset */
  nav#navigation .wrapper * {
    margin: 0;
    padding: 0;
    visibility: initial;
    display: initial;
    opacity: initial;
    flex-direction: initial;
    position: initial;
    font-size: initial;
    transform: initial;
    color: initial;
    background-color: initial;
    font-weight: initial;
    filter: initial;
  }

  nav#navigation .closeMenu,
  nav#navigation .openMenu,
  nav#navigation .socialLinks {
    display: none;
  }

  nav#navigation .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 78%;
  }

  nav#navigation .menu ul:nth-child(1) {
    display: flex;
    gap: 3.2rem;
  }

  nav#navigation .menu ul li a {
    color: var(--bg-brand-button);
    opacity: 0.7;
  }

  nav#navigation .menu a.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 2.4rem;

    border: 1px solid var(--bg-brand-button);
    border-radius: 4rem;

    color: var(--bg-brand-button);

    font-weight: 700;
    font-size: 1.4rem;
    line-height: 1.8rem;
    text-transform: uppercase;
  }

  nav#navigation .menu a.button:hover {
    background-color: var(--bg-brand-button);
    color: white;
  }

  nav#navigation.scroll .menu ul li a {
    color: var(--bg-brand-light-2);
    opacity: 0.7;
  }

  nav#navigation.scroll .menu a.button {
    border-color: white;
    color: white;
  }


  nav#navigation .menu ul li a {
    transition: opacity 0.7s;
  }

  nav#navigation .menu ul li a:hover {
    opacity: 1;
    font-weight: 700;
  }

  nav#navigation .menu li a.active::after,
  nav#navigation .menu li a:hover::after {
    padding-inline: 0.8rem;
    width: 100%;
  }

  nav#navigation .menu li a::after {
    content: '';
    width: 0%;
    height: .2rem;
    background-color: var(--bg-brand-button);

    position: relative;
    bottom: -1.9rem;
    left: -0.8rem;

    display: block;

    transition: width 0.3s;
  }

  nav#navigation.scroll .menu li a.active,
  nav#navigation.scroll .menu li a:hover {
    opacity: 1;
  }

  nav#navigation.scroll .menu li a::after {
    background-color: white;
  }

  nav#navigation .menu li a:hover::after {
    padding-inline: 1rem;
    width: 100%;
  }

  nav#navigation.scroll .menu li a:hover {
    opacity: 1;

  }

  /* nav#navigation.scroll .menu a.button:hover {
    background-color: var(--bg-brand-button);
    filter: brightness(1.3);
    border: none;
  } */

  nav#navigation.scroll .menu a.button.active,
  nav#navigation.scroll .menu a.button:hover {
    /* background-color: var(--bg-brand-button); */
    filter: brightness(1.3);
    border: none;
  }

  /*========= HOME =======================================*/

  #home::before {
    height: calc(97% - var(--nav-height));
  }

  #home {
    padding-top: var(3rem + --nav-height);
  }

  /* #home .photo img {
    padding-top: 10rem; 
    width: 26.4rem;
    display: block;
    margin-inline: auto;
    object-position: 0 2rem;
    border-radius: 2rem;
  } */

  #home .wrapper {
    grid-template-columns: 55% 45%;
    grid-template-areas:
      'A B'
      'C C';
  }

  #home .col-a {
    text-align: left;
    align-self: center;
  }

  #home h1 {
    font-size: 5.2rem;
  }

  #home .content p {
    font-size: 1.8rem;
  }

  #home .numbers {
    grid-area: C;

    flex-direction: row;
    padding: 6rem;
    gap: 0;
  }

  #home .numbers .number+.number {
    border-left: 1px solid var(--bg-brand-button);
  }

  #home .numbers .number {
    flex: 1;
  }

  #home .button {
    margin: 0;
  }

  #home .photo img {
    width: auto;
  }

  /*========= SERVICES =======================================*/

  #services h2 {
    width: 47rem;
    margin-inline: auto;
  }

  #services h3 {
    text-align: left;
    font-size: 3rem;
    margin-bottom: 1rem;
  }

  #services p {
    text-align: left;
    margin-bottom: 2rem;
  }

  #services p span {
    font-weight: bold;
    color: var(--bg-brand-button);
  }

  #services .col-b img {
    width: 90%;
    align-self: center;
  }

  #services .principal {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: 'A B';
    gap: 2.7rem;
  }

  #services .col-a {
    grid-area: A;
    align-self: center;
  }

  #services .col-b {
    grid-area: B;
    align-self: center;
  }

  #services .cards {
    flex-direction: row;
    /*Encaixar os cards respeitando seu tamanho*/
    flex-wrap: wrap;
    gap: 4rem;
  }

  #services .card {
    width: 30%;
    /*Preencher os espacos*/
    flex-grow: 1;
  }

  /*========= ABOUT =======================================*/

  #about .wrapper {
    grid-template-columns: 40% 60%;
    grid-template-areas: 'B A';
    gap: 6.7rem;
  }

  #about .col-a {
    grid-area: A;
    align-self: center;
  }

  #about .col-b {
    grid-area: B;
    align-self: center;
  }

 
  #about .content p {
    margin-bottom: 0;
  }

  /*========= TESTIMONIALS =======================================*/

  .carousel {
    display: flex;
    margin: auto;
    width: 110rem;
    height: auto;  
     
  }

  #testmonials .content p {
    margin-top: 2.4rem;
    margin-bottom: 3rem;
  }
  
   #testimonials h2 {
     margin-bottom: 6rem;
     margin-top: 1.6rem;
   }
  
  
   #testimonials blockquote {    
    box-shadow:0px 0px 12px rgba(0,0,0,0.08);
    border-radius:.4rem;
    margin-inline: 2rem;
    text-align: left;
    padding: 2rem;
    
    background-color: var(--bg-brand-light);
  }
  
  #testimonials blockquote p{
    color: var(--fc-hero-p);
    margin-block:1.5rem;
    margin-bottom: 1.5rem;
    font-size: 2.5rem;
  
    position: relative;
    text-indent: 2.875rem;
   }
  
   #testimonials blockquote p span {
     font-weight: 700;
     font-family: serif;
     font-size: 5rem;
     color: var(--bg-brand-button);
  
     position: absolute;
     top: -1rem;
     left: -2.875rem;
   }
  
   #testimonials cite{
    display:flex;
    align-items:center;
    font-style:normal;
  
    color: var(--bg-brand-button);
    font-weight: 700;
  }
  
   #testimonials cite img{
    width:4.2rem;
    height:4.2rem;
    object-fit:cover;
    margin-right:1.0rem;
    border-radius:3rem;
   }

  /*========= INNOVATION =======================================*/
  

#innovation .wrapper {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: 
  'A A A'
  'B C D'
  'E E E';
  gap: 1.7rem;
}

#innovation {
  align-self: center;
}

#innovation .col-b {
  grid-area: B;
}

#innovation .col-c {
  grid-area: C;
}

#innovation .col-d {
  grid-area: D;
}

#innovation .col-e {
  grid-area: E;
}

#innovation .col-e p {
  margin-top: 3rem;
  margin-bottom: 2rem;
  font-size: 2rem;
  text-align: justify;
}

#innovation .col-e span {
  font-weight: 700;
  color: var(--bg-brand-button);
  font-size: 2.5rem;
}

#innovation .col-b p,
#innovation .col-c p,
#innovation .col-d p {
  position: absolute;
  bottom: 5.2rem;
  left: 2.8rem;
  border-radius: 2rem;
  background-color: var(--bg-brand);
  font-size: 3rem;
  font-weight: 400;
  color: var(--bg-brand-button);
  padding: 0 1.6rem;

  width: fit-content;
  height: 3.8rem;

  display: inline-flex;
  align-items: center;
  
}

#innovation img {  
  height: 30rem;
  object-fit: cover;
  border-radius: 2rem;
}


  /*========= EVENTS =======================================*/


  #events .wrapper {
    grid-template-columns: 40% 60%;
    grid-template-areas: 'B A';
    gap: 6.7rem;
  }

  #events .col-a {
    align-self: center;
  }

  #events .col-b {
    align-self: center;
  }

 
  #events .content p {
    margin-bottom: 0;
  }
  /*========= CONTACT =======================================*/

    #contact .wrapper {
      grid-template-columns: 1fr 57.5rem;
      grid-template-areas: 'A B';
    }

    #contact .col-a {
      align-self: center;
    }

    #contact h2 {
      width: 40.4rem;
    }

  /*========= FOOTER =======================================*/

    footer {
      padding-block: 8rem;
    }
    
    footer .wrapper {
      grid-template-columns: 1fr 1fr;
      grid-template-areas: 'A B';
    }

    footer p{
      margin-bottom: 0;
    }

    footer .col-a {
      align-self: center;
    }

    footer .col-b {
      align-self: center;
      justify-self: end;
    }

}
