// Color pallete
$color--black: #000;
$color--blue: #29394a;
$color--gray-1: #fffaf0;
$color--gray-2: #e8ddeb;
$color--gray-3: #adb5bd;
$color--gray-4: #868e96;
$color--gray-5: #484f56;
$color--white: #ffff;
$color--gray-light: $color--gray-1;
$color--blue-dark: #22262a;
$color--shadow: #00000014;
// Brand colors
$color--primary: #851200;
$color--primary-light: #c7776b;
$color--primary-ghost: #ff6c4e;
$color--secondary: #868ba7;
$color--secondary-dark: #3d4657;

// Texts
$color--text: $color--white;
$color--text-on-color: $color--gray-2;
$color--text-dark: $color--black;
$color--text-ghost: $color--white;
$title--body-dark: $color--blue;
