* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "DM Sans", sans-serif;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav {
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  margin: 0;
}

link,
a {
  text-decoration: none;
}
