@import "../../styles/partials/colors";

.about {
  width: 100%;

  background-color: $color--gray-1;

  text-align: center;

  padding: 70px 0 180px 0;
}

.section {
  width: fit-content;
  height: max-content;
  margin: 0 auto;

  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1.3px;
  color: $color--primary;

  margin: 0 auto 20px auto;
}

.container {
  width: 83%;
  height: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto 100px auto;
}

.imageContainer {
  width: 40%;
  height: 100%;
}

.image {
  width: 100%;
  height: 100%;

  border-radius: 18px;
}

.content {
  width: 55%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  text-align: left;
}

.title {
  width: fit-content;
  height: max-content;
  margin: 0 auto;

  font-size: 40px;
  font-weight: 700;
  color: $color--gray-5;

  margin-bottom: 50px;
}

.paragraph {
  font-weight: 400;
  font-size: 20px;
  color: $color--gray-5;

  text-align: justify;

  line-height: 30px;
}
