@import "../../styles/partials/colors";

.thumbnails {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;

  margin-bottom: 8px;
  gap: 5px;
}

.thumbnail {
  width: 110px;
  height: 100px;

  display: flex;
}

.image {
  width: 100%;
  height: 100%;

  border-radius: 8px;
}
