@import "../../styles/partials/colors";

.container {
  width: 83%;
  height: 300px;

  margin: 0 auto 50px auto;
}

.card {
  box-shadow: 0px 0px 12px $color--shadow;
  border-radius: 6px;
  text-align: left;
  padding: 26px;

  background-color: $color--gray-2;
}

.paragraph {
  color: $color--gray-5;
  margin-bottom: 20px;
  margin-block: 16px;

  font-weight: 400;
  font-size: 27px;

  text-indent: 32px;
  line-height: 30px;
}

.quoteMarks {
  font-family: serif;
  font-size: 80px;
  color: $color--primary;

  left: -10px;
  position: absolute;
}

.imageContainer {
  display: flex;
  align-items: center;

  font-weight: 700;
  font-size: 18px;
  font-style: normal;

  color: $color--primary;
}

.image {
  width: 45px;
  height: 45px;
  object-fit: cover;
  margin-right: 16px;
  border-radius: 50px;
}
