@import "../../styles/partials/colors";

.container {
  width: 1100px;
  height: 300px;

  margin: 0 auto 50px auto;
}

.card {
  width: 100%;
  height: 240px;
  aspect-ratio: 2/1;
  object-fit: contain;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  box-shadow: 0px 0px 12px $color--shadow;
  border-radius: 6px;
  text-align: left;
  padding: 26px;

  background-color: $color--gray-2;

  cursor: pointer;
}

.paragraph {
  color: $color--gray-5;
  margin-bottom: 20px;
  margin-block: 16px;

  font-weight: 400;
  font-size: 24px;

  text-indent: 32px;
  line-height: 30px;
}

.quoteMarks {
  font-family: serif;
  font-size: 80px;
  color: $color--primary;

  left: -10px;
  position: absolute;
}

.name {
  font-weight: 700;
  font-size: 18px;
  font-style: normal;

  color: $color--primary;
}
